<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/integration/bootstrap.php" colors="true" failOnWarning="true" convertNoticesToExceptions="false" convertDeprecationsToExceptions="false">
  <testsuites>
    <testsuite name="WordPress WooCommerce Integration">
      <directory suffix="Test.php">tests/integration</directory>
    </testsuite>
  </testsuites>
</phpunit>